# Data Structures in Python

## List

#### Theory

Definition:
List is a collection of ordered elements that can contain duplicate items and can be modified.

- Properties:

    - Ordered: Elements have a defined order.
    - Mutable: Can be changed after creation.
    - Allow duplicates: Can contain duplicate elements.
    - Indexed: Access elements via zero-based indexing.

- Common Methods:

    - append(x): Add an item x to the end.
    - extend(iterable): Extend list by appending elements from an iterable.
    - insert(i, x): Insert an item x at a given position i.
    - remove(x): Remove the first item whose value is equal to x.
    - pop([i]): Remove and return item at position i (or the last item if i is not specified).
    - sort(key=None, reverse=False): Sort items in ascending order (or as specified by key and reverse).
    - reverse(): Reverse the elements of the list in place.
    - copy(): Return a shallow copy of the list.

#### Programs

In [3]:
list1 = [1, 5, "Mahesh", "Umale", "India1"]

In [4]:
list1.append("Pune")
print(list1)

[1, 5, 'Mahesh', 'Umale', 'India1', 'Pune']

In [5]:
list2 = [5, 6, 8]

list1.extend(list2)
print(list1)

[1, 5, 'Mahesh', 'Umale', 'India1', 'Pune', 5, 6, 8]

In [6]:
list2.insert(1, 6) # 1 - position, 6 - value
print(list2)

[5, 6, 6, 8]

In [9]:
list2.remove(6)
print(list2)

[5, 6, 8]

In [17]:
for i in range(len(list2)):
    if i == 8:
        list2.pop(i)
print(list2)

[5, 6, 8]

In [16]:
print(list2)

[5, 6, 8]

In [22]:
list4 = [8, 6, 1, 4, 6, 8, 2]
list4.sort()
print(list4)

list4.reverse()
print(list4)

[1, 2, 4, 6, 6, 8, 8]
[8, 8, 6, 6, 4, 2, 1]

In [25]:
list5 = list4.copy()
print(list5)

[8, 8, 6, 6, 4, 2, 1]

## Tuple

#### Theory

- Properties:
    - Ordered: Elements have a defined order.
    - Immutable: Cannot be changed after creation.
    - Allow duplicates: Can contain duplicate elements.
    - Indexed: Access elements via zero-based indexing.

- Common Methods:

    - count(x): Return the number of times x appears in the tuple.
    - index(x[, start[, end]]): Return the index of the first occurrence of x (raises ValueError if not found).
    - min(): returns minimum value
    - max(): returns max value
    - count(): returns total number of occurences
    - sorted(): sorts the tuple

#### Programs

In [52]:
tup1 = (1, 5, 1, 5, "Mahesh", "Umale", "India1")
tup2 = [5, 5, 7, 6, 3, 7, 2, 1]
print(tup1)
print(type(tup1))

(1, 5, 1, 5, 'Mahesh', 'Umale', 'India1')
<class 'tuple'>

In [28]:
print(len(tup1))

5

In [46]:
c = tup1.count(5)
print(c)

2

In [37]:
print(tup1.index("Mahesh"))

4

In [54]:
a = min(tup2)
b = max(tup2)
print(a, b)

1 7

In [55]:
sorted(tup2)

[1, 2, 3, 5, 5, 6, 7, 7]

## Set

#### Theory

- Properties:

    - Unordered: No defined order.
    - Mutable: Can be changed after creation.
    - No duplicates: Automatically remove duplicate elements.
    - Not indexed: Cannot access elements by index.

- Common Methods:

    - add(x): Add an element x to the set.
    - remove(x): Remove element x. Raises KeyError if not present.
    - discard(x): Remove element x if it is present.
    - pop(): Remove and return an arbitrary element. Raises KeyError if the set is empty.
    - clear(): Remove all elements from the set.
    - copy(): Return a shallow copy of the set.
    - union(*others): Return a new set with elements from the set and all others.
    - intersection(*others): Return a new set with elements common to the set and all others.
    - difference(*others): Return a new set with elements in the set that are not in the others.
    - symmetric_difference(other): Return a new set with elements in either the set or other but not both.

#### Programs

In [46]:
set1 = {1, 5, "Mahesh", "Umale", "India1"}
set2 = {5, 6, 7, 2, 1, 4}

In [24]:
set1.add(6)

In [25]:
print(set1)

{1, 'Umale', 'Mahesh', 5, 6, 'India1'}

In [26]:
set1.remove(5)

In [27]:
print(set1)

{1, 'Umale', 'Mahesh', 6, 'India1'}

In [37]:
print(set1)
set1.discard("Umale")
print(set1)

{1, 'Umale', 'Mahesh', 5, 'India1'}
{1, 'Mahesh', 5, 'India1'}

In [38]:
set1.pop()

1

In [39]:
print(set1)

{'Mahesh', 5, 'India1'}

In [41]:
set3 = set1.copy()

In [42]:
print(set3)

{'India1', 'Mahesh', 5}

In [44]:
set3 = set1.union(set2)

In [45]:
print(set3)

{1, 2, 'Mahesh', 5, 4, 6, 7, 'India1'}

In [47]:
set1.intersection(set2)

{1, 5}

In [48]:
set1.difference(set2)

{'India1', 'Mahesh', 'Umale'}

In [49]:
set1.symmetric_difference(set2)

{2, 4, 6, 7, 'India1', 'Mahesh', 'Umale'}

## Dictionary

#### Theory

- Properties:

    - Unordered (as of Python 3.7+, dictionaries preserve insertion order but this is an implementation detail rather than a language guarantee).
    - Mutable: Can be changed after creation.
    - Key-value pairs: Store items in key-value pairs.
    - Keys are unique: Keys must be unique and immutable.

- Common Methods:

    - get(key, default=None): Return the value for key if key is in the dictionary; otherwise, return default.
    - keys(): Return a view object that displays a list of all the keys.
    - values(): Return a view object that displays a list of all the values.
    - items(): Return a view object that displays a list of a dictionary's key-value tuple pairs.
    - update([other]): Update the dictionary with elements from another dictionary or iterable of key-value pairs.
    - pop(key, default=None): Remove and return the value for key. If key is not found, return default (raises KeyError if default is not provided).
    - popitem(): Remove and return an arbitrary (key, value) pair. Raises KeyError if the dictionary is empty.
    - setdefault(key, default=None): Return the value of key if it is in the dictionary. If not, insert key with a value of default and return default.
    - clear(): Remove all items from the dictionary.
    - copy(): Return a shallow copy of the dictionary.

#### Programs

In [52]:
list1 = [1, 2, 3, 6, 4, 10, 8]
dict1 = {1: "Mahesh", 2: "Umale", 3:"Pune", 4:"MH", 5:"India"}
dict2 = {6: [1, 2, 3, 4, 6], 7:(1, 2, 3, 4, 5), 8:list1}

In [53]:
dict1.get(2)

'Umale'

In [54]:
dict1.keys()

dict_keys([1, 2, 3, 4, 5])

In [56]:
dict1.values()

dict_values(['Mahesh', 'Umale', 'Pune', 'MH', 'India'])

In [61]:
print(dict1.items())
print(type(dict1.items()))

dict_items([(1, 'Mahesh'), (2, 'Umale'), (3, 'Pune'), (4, 'MH'), (5, 'India')])
<class 'dict_items'>

In [64]:
dict1.update(dict2)

In [65]:
print(dict1)

{1: 'Mahesh', 2: 'Umale', 3: 'Pune', 4: 'MH', 5: 'India', 6: [1, 2, 3, 4, 6], 7: (1, 2, 3, 4, 5), 8: [1, 2, 3, 6, 4, 10, 8]}

In [66]:
dict1.pop(6)

[1, 2, 3, 4, 6]

In [69]:
dict1.popitem()

(7, (1, 2, 3, 4, 5))

In [70]:
print(dict1)

{1: 'Mahesh', 2: 'Umale', 3: 'Pune', 4: 'MH', 5: 'India'}

In [ ]:
Tips:

Ordered = List, Tuple
Unordered = Set, Dict
Mutable = List, Set, Dict
Immutable = Tuple
Duplicates = List, Tuple

#### Explore more to ace in your career ! Good Luck !!